<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sobot.chat">

    <!-- 访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application>
        <activity
            android:name="com.sobot.chat.conversation.SobotChatActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/sobot_AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sobot.chat.activity.SobotPhotoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/sobot_AppTheme" />
        <activity
            android:name="com.sobot.chat.activity.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/sobot_AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sobot.chat.activity.SobotSkillGroupActivity"
            android:theme="@style/sobot_dialog_skill" />
        <activity
            android:name="com.sobot.chat.activity.SobotPostMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/sobot_AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sobot.chat.activity.SobotConsultationListActivity"
            android:theme="@style/sobot_AppTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sobot.chat.activity.SobotPhotoListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/sobot_AppTheme" />
        <activity
            android:name="com.sobot.chat.activity.SobotCusFieldActivity"
            android:screenOrientation="portrait"
            android:theme="@style/sobot_AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sobot.chat.activity.SobotPostCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/sobot_AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sobot.chat.activity.SobotQueryFromActivity"
            android:screenOrientation="portrait"
            android:theme="@style/sobot_AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sobot.chat.activity.SobotChooseCityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/sobot_AppTheme"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name="com.sobot.chat.core.channel.SobotTCPServer"
            android:exported="false"
            android:label="SobotChatTCPServer"/>
        <service android:name="com.sobot.chat.server.SobotSessionServer" />
    </application>

</manifest>