<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sobot.demo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/sobot_demo_icon"
        android:label="@string/sobot_demo_app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SobotDemoNewActivity" />
        <activity android:name=".activity.more.SobotDemoMasterActivity" />
        <activity android:name=".activity.more.SobotPersonSetActivity" />
        <activity android:name=".activity.more.SobotConsultationSetActivity" />
        <activity android:name=".activity.more.SobotDemoInitModeTypeActivity" />
        <activity android:name=".activity.more.SobotTransferCustomActivity" />
        <activity android:name=".activity.more.SobotReceptionistIdSetActivity" />
        <activity android:name=".activity.more.SobotSkillSetActivity" />
        <activity android:name=".activity.more.SobotRobotSetActivity" />
        <activity android:name=".activity.more.SobotSatisfactionSetActivity" />
        <activity android:name=".activity.more.SobotAccessSetActivity" />
        <activity android:name=".activity.more.SobotCustomTitleActivity" />
        <activity android:name=".activity.more.SobotIsUseVoiceSetActivity" />
        <activity android:name=".activity.more.SobotHistoryRulerActivity" />
        <activity android:name=".activity.more.SobotNotificationSetActivity" />
        <activity android:name=".activity.more.SobotCustomReplyActivity" />
        <activity android:name=".activity.product.SobotDemoRobotActivity" />
        <activity android:name=".activity.product.SobotDemoCustomActivity" />
        <activity android:name=".activity.product.SobotDemoCloudCallActivity" />
        <activity android:name=".activity.product.SobotDemoWorkOrderActivity"/>
    </application>

</manifest>